<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <title>Password Fun</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet"  href="stylesheets/style.css">
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>

</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">
    <h1>Paper Street Login</h1>
</nav>
<div class="left">
<h2>Enter a username and password<br />
Buy soap!</h2>
</div>

<form action="/" method="post">
    <div>
        <label for="username">Username:</label>
        <input type="username" id="username">
    </div>
    <div>
        <label for="password" name="password" id="password">Password:</label>
        <input type="password" name="password" id="password">
    </div>
    <div class="register">
        <input type="submit" value="Log In">
        </div>
    <div>
        <a href="/register"> Register for an account</a>
    </div>

</form>

</body>
</html>