<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Password Fun</title>
    <link rel="stylesheet"  href="stylesheets/style.css">


</head>
<body>
<h1>Enter a username and password</h1>
<h2>It is good for you</h2>

<form action="/" method="post">
    <div>
        <label for="username">Enter Username:</label>
        <input type="username" id="username">
    </div>
    <div>
        <label for="password" name="password" id="password">Enter Password:</label>
        <input type="password" name="password" id="password">
    </div>
    <div>
        <input type="submit" value="Log In"> <br />
        <a href="/register">Register for an account</a>
    </div>

</form>

</body>
</html>