body {
  padding-top: 175px;
  font: 14px Garamond, serif;
  font-style: italic;
  background-color: #cc9933;
}

h1{
  font-size: 72px;
  background-color: #996633;
  color: whitesmoke;
  font-family: Garamond, Baskerville, serif;
  font-style: italic;
  padding: 25px;


}
.left{
  margin-left: 25px;
  padding-bottom: 15px;
}
h2{
  font-size:18px;
  color: white;
  font-weight: lighter;
  font-family: "Avant Garde", Helvetica, sans-serif;
}
a {
  color: white;
  margin-left: 10px;

}
.register{
  display: inline-block;
  text-align: right;

}
form {
display: inline-block;
text-align: right;
  margin-bottom: 15px;

}

label{
  display: inline-block;
  float: left;
  clear: left;
  width: 250px;
  text-align: right;
  margin-bottom: 10px;
  margin-right: 5px;

}
input {
  display: inline-block;
  float: left;
  margin-bottom: 10px;
  margin-left: 5px;

}